<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>操作</th>
            </tr>
            <% for(var i=0;i< result.length;i++){%>
                <tr>
                    <td><%= result[i].id %> </td>
                    <td><%= result[i].name %> </td>
                    <td><%= result[i].age %> </td>
                    <td><%= result[i].sex %> </td>
                    <td>
                        <a class="btn btn-default" href="/update/<%=result[i].id%>" role="button">编辑</a>
                        <a class="btn btn-default" href="/del/<%=result[i].id%>" role="button">删除</a>
                    </td>
                </tr>
            <% } %>
        </table>
        <a href="/add" class="glyphicon glyphicon-plus">添加</a>
    </div>
</body>
</html>